pkgbase = python-tomlkit
	pkgdesc = Style-preserving TOML library for Python
	pkgver = 0.12.4
	pkgrel = 1
	url = https://github.com/sdispater/tomlkit
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-yaml
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-poetry-core
	depends = python
	source = https://files.pythonhosted.org/packages/source/t/tomlkit/tomlkit-0.12.4.tar.gz
	sha256sums = 7ca1cfc12232806517a8515047ba66a19369e71edf2439d0f5824f91032b6cc3

pkgname = python-tomlkit
